<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Balance</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <h1 class="text-center">Customer Account</h1>
  <hr />
  <table class="table table-bordered table-striped">
    <thead>
    <tr>

      <th> Your Account Balance is</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${Customer}">

      <td th:text="${item.accBalance}">Account Balance</td>
    </tr>
    </tbody>
  </table>
  <p>Click below link to go bach home</p>
  <a href="/">Home</a>



</div>

<marquee behavior="" direction="">Your Simpler, Smarter Bank || *826# || Save and win Palli Promo2</marquee>

</body>
</html>