<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check Balance</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
<h1>Please see account balance below</h1>
<form action="#" th:action="@{/view}" th:object="${customer}"  method="POST">
    <div class="form-group">
        <label for="accNo">Description</label>
        <input class="form-control" type="text" th:field="*{accNo}" name="accNo" id="accNo"
               placeholder="Enter Account Number" autocomplete="off">
    </div>
    <br>

    <button type="submit" class="btn btn-success">Check Balance</button>
</form>
<br>
<button><a href="/">Home</a></button>


</body>
</html>