<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/css/index.css" rel="stylesheet">

</head>
<body>
    <div>
        <h1>Welcome to Evolution Bank</h1>
        <h3>What can we do for you today</h3>
    </div>
    <br>
        <button><a href="OpenAccount">Open Account</a></button>
        <button><a href="check">Check Balance</a></button>
        <button><a href="deposit">Deposit</a></button>
        <button><a href="withdrawal">Withdraw</a></button>
    <br>
    <br>

    <marquee behavior="" direction="">Your Simpler, Smarter Bank || *826# || Save and win Palli Promo2</marquee>
</body>
</html>